node_modules
.DS_Store
dist
dist-ssr
*.local
.history

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Test coverage
coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.local

package-lock.json
pnpm-lock.yaml
stats.html